@charset 'utf-8';
/* CSS DOCUMENT */
html, body { height:100%; min-height:100%;}
.hide { position:relative;}
.ease,a,input[type="submit"],button { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center;}
.auto { width:1024px; margin: 0 auto; }

/********* Page Template *********/
#main-container { height:100%; height: auto !important; min-height:100%; }
input[type="text"],input[type="password"] { }
input[type="submit"] { }
textarea { outline:none; resize:none; }

header {}

#main-wrapper {}
.fl { float:left; }
.fr { float:right; }
.clr { float:none; clear:both; }
.bp-set { display:inline-block; *display:inline; }
.bp-set.vm { vertical-align:middle; }
.bp-set.vt { vertical-align:top; }
.bp-set.vb { vertical-align:bottom; }
.bp-box { box-sizing:border-box; }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }
.bp-center { text-align:center; }
.bp-left { text-align:left; }
.bp-right { text-align:right; }
.bp-justify { text-align:justify; }
.bp-tt { text-transform:uppercase; }
.par p { padding:10px 0px; }
.par2 p { padding:5px 0px; }
.par-med { font-size:14px; }
.par-lar { font-size:16px; }
.par-xl { font-size:18px; }



.preloader { position:fixed; width:100%; height:100%; overflow:hidden; z-index:9999; background-color:#80ccff;}
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; animation: rotatee 2.0s infinite linear; -webkit-animation: rotatee 2.0s infinite linear; -moz-animation: rotatee 2.0s infinite linear; -ms-animation: rotatee 2.0s infinite linear; -o-animation: rotatee 2.0s infinite linear;}
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:#000; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%;  animation: bouncee 2.0s infinite ease-in-out; -webkit-animation: bouncee 2.0s infinite ease-in-out; -moz-animation: bouncee 2.0s infinite ease-in-out; -ms-animation: bouncee 2.0s infinite ease-in-out; -o-animation: bouncee 2.0s infinite ease-in-out;  background-color:#fff}
.s-dot2 { top: auto; bottom: 0px; animation-delay: -1.0s; -webkit-animation-delay: -1.0s; -moz-animation-delay: -1.0s; -ms-animation-delay: -1.0s; -o-animation-delay: -1.0s; background-color:#fff }
@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bouncee { 0%, 100% { -webkit-transform: scale(0.0) } 50% { -webkit-transform: scale(1.0) } }
@keyframes bouncee { 0%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); } 50% { transform: scale(1.0); -webkit-transform: scale(1.0); } }
.lt-ie9 .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.lt-ie9 .preloader .spinner { display:none; }
/********* END Page Template *********/

.helper {
	border:1px solid red;
}

/***fonts***/
/*@font-face {
  font-family: 'poetsenone'; 
  src: url('fonts/poetsenone-regular.ttf')  format('truetype');
}*/
@font-face {
    font-family: 'poetsenone';
    src: url('fonts/poetsenone-regular-webfont.eot');
    src: url('fonts/poetsenone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poetsenone-regular-webfont.woff') format('woff'),
         url('fonts/poetsenone-regular-webfont.ttf') format('truetype'),
         url('fonts/poetsenone-regular-webfont.svg#poetsen_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*********************************
Page styles
*********************************/
html {background:url("../images/seamless.jpg") center center;}
body {
	background-image:url('../images/farm_background_1.png');
	background-repeat:no-repeat;
	background-position:center top;
	background-size:cover;
}
.wrap {
	max-width:1200px;
	margin:0 auto;
}
.poetsenone {font-family:'poetsenone';}

/***header***/
header .header-gl-logo {
	float:right;
	width:83px;
	height:56px;
	margin:10px 10px 0 0;
	background:url("../images/gameloft_black_logo.png") no-repeat center top;
	background-size:100%;
	font-size:0;
} 
header h1 {
	max-width:620px;
	height:298px;
	margin: 0 auto;
	background:url("../images/farm_folks_logo.png") no-repeat center top;
	background-size:100%;
}
header h1 img {
	width:100%
}

/***ribbon***/
.ff-ribbon {max-width:876px; height:auto; margin-top:150px;}
.ff-ribbon h3 {font-size:40px; font-weight:normal; color:#eff634; text-transform:uppercase; text-shadow:0 2px 1px #000;}
.ff-ribbon p {font-size:23px; font-weight:normal; color:#fff; text-transform:uppercase; text-shadow:0 1px 1px rgba(0,0,0,0.2);}
.ff-ribbon img,
.ff-r-bird-blue img,
.ff-r-bird-red img {width:100%;}
.ff-r-text {top:0; left:0; width:100%; display:none;}
.ff-r-bird-blue {left:-3%; top:-106%; width:20%;}
.ff-r-bird-red {right:-3%; top:-106%; width:20%;}

/***meter***/
.ff-meter {
	max-width:1003px;
	margin:160px auto 35px;
}
.f-m-gauge{
	z-index:1;
}
.f-m-gauge img{
	width:100%;
}
.f-m-fill{
	z-index:2;
	width:0%;
	left:0;
	top:0;
	overflow:hidden;
}
.f-m-level-1 img,
.f-m-level-2 img,
.f-m-level-3 img,
.f-m-level-4 img {width:100%;}

.f-m-level-1 {
	z-index:3;
	left:21.48%;
	top:-146%;
	width:14%;
}
.f-m-level-2 {
	z-index:3;
	left:39.40%;
	top:-146%;
	width:14%;
}
.f-m-level-3 {
	z-index:3;
	left:59.2%;
	top:-146%;
	width:14%;
}
.f-m-level-4 {
	z-index:3;
	left:78.76%;
	top:-146%;
	width:14%;
}
/***share buttons***/
.ff-social {margin:0 0 55px 0;}
.ff-s-share-btns {max-width:690px; margin:0 auto 25px; white-space:nowrap;}
.ff-s-share-btns li {
	display:inline-block;
	width:31%;/*220px*/
	height:auto;
	margin:0 1%;
}
.ff-s-fb-share {
	display:block;
	width:100%;
	font-size:0;
}
.ff-s-fb-share img {
	width:100%;
}




.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.flex-align-content-center {
	-webkit-align-content: center; 
	align-content: center;
 }
 
.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
 }


/***facebook like***/
.ff-s-fb-like{
	height:44px;
}
.ff-s-fb-like a {
	display:block;
	width:93px;
	height:44px;
	margin:10px auto 0;
}
/***boards***/
.f-b-container {
	max-width:1015px;
	margin:0 auto;
}
.f-b-top-board {
	width:100%;
	height:auto;
	/* background:url("../images/top_board_01.png") no-repeat center top; */
	/* background-size:100%; */
}
.f-b-top-board img {
	width:100%;
}
.pig-deco img,
.chicken-deco img,
.goat-deco img {width:100%;}
.pig-deco {
	max-width:28%;
	height:auto;
	left:-13%;
	top:-427%;
	z-index:10;
}
.chicken-deco{
	max-width:29%;
	height:auto;
	right:-17%;
	top:25%;
}
.goat-deco{
	max-width:34%;
	height:auto;
	left:-19%;
	bottom:-12%;
}
.f-b-mid-board {
	width:100%;
	height:auto;
	padding:60px 0 1px 0;
	background:url("../images/mid_board.jpg") repeat-y center top;
	background-size:100%;
}
.f-b-bottom-board {
	width:100%;
	height:110px;
	background:url("../images/bottom_board_01.png") no-repeat center top;
	background-size:100%;	
}

.f-b-m-b-section h3 {
	font-family:'poetsenone'; font-size:39px; font-weight:normal; color:#fff; text-transform:uppercase; text-shadow:0 2px 1px #000;
}
.f-b-m-b-section p {
	font-family:'poetsenone'; font-size:18px; font-weight:normal; color:#fff; text-transform:uppercase; text-shadow:0 2px 1px #000;
}

.f-b-m-b-section {
	max-width:807px;
	/* height:246px; */
	height:auto;
	margin:0 auto 45px;
}

.concept-art {
/* 	background:url("../images/concept_art.png") no-repeat left top;
	background-size:100%; */
}
.concept-art img,
.pig-tree img,
.pond img,
.gems img {width:100%;}
.pig-tree {
/* 	background:url("../images/pig_tree.png") no-repeat left top;
	background-size:100%; */
}
.pond {
/* 	background:url("../images/pond.png") no-repeat left top;
	background-size:100%; */
}
.gems {
/* 	background:url("../images/gems.png") no-repeat left top;
	background-size:100%; */
}
.f-b-m-b-text-container {
	display:none;
	width:60%;
	height:100%;
	padding:10% 50px 0 0;;
	border:1px solid red;
	vertical-align:middle;
	box-sizing:border-box;
}
/***footer***/
footer {height:auto; text-align:center;}
.f-gameloft-logo {
	height:auto;
	margin-top:80px;
}
.f-share{margin:50px 0 0 0;}
.f-share li {
	display:inline-block;
	margin:0 3%;
	vertical-align:middle;
}
.f-share li:nth-child(1) {
	margin:0 3% 0 0;
}
.f-share li:nth-child(3) {
	margin:0 0 0 3%;
}
.f-share a {
	display:block;
	height:auto;
}
.f-share img {width:100%;}

/* .f-s-fb-icon img {width:100%;} */

span.f-copyright{
	display:inline-block;
	max-width:64%;
	margin:30px 0 10px 0;
	font-family:tahoma;
	font-size:12px;
	color:#fff;
}

.f-cpe {margin-top:50px;}
.f-cpe li {display:inline;}
.f-cpe li:nth-child(2) {
	border-left:2px solid #fff;
	border-right:2px solid #fff;
}
.f-cpe a {
	margin:0 2%;
	color:#fff;
	font-family:Tahoma, san-serif;
	font-size:16px;
}

/***inline-message pop up***/

.fancybox-skin {
    position: relative;
	padding:8px !important;
    background: #fd9e23;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.inline-box-enlist {
	padding:15px;
	background:#f0f0f0 url("../images/seamless1.jpg") center;
	border:1px solid #e77013;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ff-inputs {
	
}
.ff-inputs li:nth-child(2) {
	margin:0 0 10px 0;
}
.ff-inputs label{
	font-size:22px;
	color:#fff;
	line-height:1.6;
	text-align:left;
	text-shadow:0 1px 1px #000;	
}
.ff-inputs input[type=text]{
	width:100%;
	padding:5px;
	background:#f0f0f0;
	border:1px solid #0176a1;
	border-radius:7px;
	font-family:poetsenone;
	font-size:22px;
}
.ff-inputs input[type=text]:focus{
	background:#fff;
	border:1px solid #fd9e23;
}
.inline-box-enlist .ff-s-terms {
	max-width:400px;
	margin:15px auto;
}
.inline-box-enlist .ff-s-terms .ff-s-t-container {
	display:table;
	width:100%;
}
.inline-box-enlist .ff-s-terms .ff-s-t-container li {
	display:table-cell;
	vertical-align:top;
}
.ff-s-terms input[type=checkbox] {
	display:none;
}
.ff-s-terms label {
	display:block;
	width:21px;
	height:21px;
	background:url("../images/check_box.jpg") no-repeat 0 -21px;
	box-shadow:0 1px 1px rgba(0,0,0,0.5);
}
.ff-s-terms p {
	margin:0 0 0 10px;
	font-size:17px;
	color:#fff;
	line-height:1;
	text-align:left;
	text-shadow:0 1px 1px #000;
}
.ff-s-terms .tick-active {
	background-position:0 0;	
}
.submit-btn-container{
	margin-top:15px;
	text-align:center;
}
.submit-btn-container input[type=submit]{
	width:160px;
	height:56px;
	background:url("../images/enlist_submit_btn.png") no-repeat center;
	background-size:100%;
	border:none;
	font-size:0;
}

/*message success*/
.inline-box-success-msg {
	padding:15px;
	background:#f0f0f0 url("../images/seamless1.jpg") center;
	border:1px solid #e77013;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.inline-box-success-msg{
	height:100%;
	font-family:poetsenone;
	font-size:22px;
	color:#fff;
	line-height:1.5;
	text-align:center;
	text-shadow:0 1px 1px #000;
}
.message-container{
	display:table;
}
.message-container p{
	display:table-cell;
	vertical-align:middle;
	padding:20px;
}
.message-container .chicken-img {
	width:40%;
	right:-22%;
	bottom:-45%;
}
.message-container .chicken-img img {
	width:100%;
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 2553px) {

}   

@media only screen and (max-width: 1280px) {

}
   
@media only screen and (max-width: 1150px) {

}

@media only screen and (max-width: 1080px) {
	.pig-deco, .chicken-deco, .goat-deco{display:none;}
	.f-gameloft-logo {margin-top:30px;}
	.f-b-mid-board {	padding: 30px 0 1px 0;}

@media only screen and (max-width: 1024px) {

}


@media only screen and (max-width: 980px) {
}


@media only screen and (max-width: 880px) {
	.f-b-m-b-section{
		width:90%;
	}

}

@media only screen and (max-width: 810px) {

}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 736px) {
	.ff-s-t-container{
		width:85%;
		margin:0 auto;
		display:table;
	}
	.ff-s-terms li {
		display:table-cell;
		vertical-align:top;
	}
	.ff-s-terms p {
		line-height:1.2;
	}
}

@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 640px) {	
	.ff-s-share-btns ul{
		width:95%;
		margin:0 auto;
	}
}

@media only screen and (max-width: 560px) {
	body{background-size:310%;}
	header .header-gl-logo {width: 56px;}
	header h1 {height:248px;}
	.f-b-bottom-board {height:65px;}
}

@media only screen and (max-width: 534px) {
	body {background-size: 300%;}
	.ff-ribbon {margin-top:140px;}
	.ff-meter {margin-top:110px;}
	.f-b-bottom-board {height:55px;}
}

@media only screen and (max-width: 533px) {

}

@media only screen and (max-width: 480px) {
	header h1 {height:205px;}
}

@media only screen and (max-width: 414px) {
	.f-b-m-b-section {margin: 0 auto 20px;}
	.ff-ribbon {	margin-top: 80px;}
	.ff-meter {margin-top: 62px;}
}

@media only screen and (max-width: 375px) { 

}

@media only screen and (max-width: 360px) { 
	header .header-gl-logo {
		width: 48px;
	}
	/* .f-share li:nth-child(2) {margin:0 10%;} */
	.f-share li:nth-child(1) {
		margin:0 6% 0 1%;
	}
}

@media only screen and (max-width: 320px) {
	header h1 {height:135px;}
	.ff-ribbon {	margin-top: 90px;}
	.ff-meter {margin-top:60px;}
	.f-b-bottom-board {height: 35px;}

}